
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
}


/* ------------------------
 * ANCHOR & BUTTON
 * --------------------- */

a, button {
    color: #000;
    cursor: pointer;
    outline: none;
}
a:hover {
    margin: -1px;
    border: 1px solid #fcc800;
}
.button a {
    padding: 0.5em 1em;
    background: #fcc800;
    display: inline-block;
    line-height: 1.5;
}
.more {
    text-align: right;
}

/* ------------------------
 * CORE LAYOUT
 * --------------------- */

.header {
    padding: 0.5em 1.5em;
    background: #fff;
}
.header-content {
    width: 100%;
    height: 5vh;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}
.header-content-h1 {
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "co-headline",sans-serif;
    line-height: 4vh;
}
.header-content-p,
.header-content-action {
    display: none;
}
@media (min-width: 480px) {
    .header-content {
        height: 48px;
    }
    .header-content-h1 {
        width: 140px;
        font-size: 2rem;
        margin-left: 0;
        line-height: 40px;
    }
    .header-content-p {
        font-size: 1rem;
        font-family: "co-headline",sans-serif;
        line-height: 45px;
        flex: 1;
        display: block;
    }
    .header-content-action {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }
    .header-content-action-item {
        font-size: 0.9rem;
        line-height: 48px;
    }
    .header-content-action-item + .header-content-action-item {
        margin-left: 1em;
    }
    .header-content-action-item a {
        padding: 0.5em 1em;
        color: #000;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main-visual {
    padding: 4vh 0;
    background: #222;
}
.main-content {
    width: 100%;
    max-width: calc(1280px + 3em);
    margin: 0 auto;
    padding: 3vh 1.5em;
    display: flex;
    flex-direction: column;
}
.main-content-section {
    width: 100%;
    margin: 3vh 0;
}
.main-content-section-h1 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: normal;
}

.footer {
    height: 2.5em;
    font-size: 0.7em;
    line-height: 2.5em;
    text-align: center;
}

/* ------------------------
 * PLAYER
 * --------------------- */

.player {
    width: 100%;
    max-width: 1280px;
    height: 72vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.player-main {
	display: none;
}
.player-main.show {
	display: block;
    height: 40vh;
    background: #000;
    pointer-events: none;
}
.player-dummy {
	padding: 1em;
	color: #fff;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.show + .player-dummy {
	display: none;
}
.player-video {
    height: 7.5vh;
    position: absolute;
    left: 0;
    top: 24vh;
    display: none;
}
.player-video.show {
    display: block;
}
.player-aside {
    flex: 1;
    color: #fff;
    background: rgba(0,0,0,0.5);
    overflow-y: auto;
}
.player-aside::-webkit-scrollbar {
    width: 3px;
    height: auto;
}
.player-aside::-webkit-scrollbar-track {
    background: #455765;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.player-aside::-webkit-scrollbar-thumb {
    background:#fcc800;
}
.player-aside-info {
    padding: 1.5em 1.5em 0;
}
.player-aside-info-h1 {
    font-size: 1rem;
    margin-bottom: 1em;
}
.player-aside-info-p {
    font-size: 0.75rem;
}
.player-aside-input {
    display: none;
}
.player-aside-input-text {
    flex: 1;
    border: 1px solid rgba(64,64,64,0.5);
    border-radius: 2px 0 0 2px;
    padding: 0.5em 0.75em;
    background: rgba(255,255,255,0.9);
}
.player-aside-input-submit {
    border: 1px solid rgba(64,64,64,0.5);
    border-radius: 0 2px 2px 0;
    border-left: 0;
    padding: 0.5em 0.75em;
    background: #ccc;
}
.player-aside-discuss {
    padding: 1.5em;
}
@media (min-width: 480px) {
    .player {
        height: 60vh;
        flex-direction: row;
    }
	.player-dummy,
    .player-main.show {
        height: 100%;
        flex: 1;
    }
    .player-video {
        max-width: 15%;
        height: auto;
        top: auto;
        bottom: 22.5%;
    }
    .player-aside {
        width: 320px;
        flex: none;
        scrollbar-base-color: #fcc800;
    }
    .player-aside-input {
        padding: 1.5em 1.5em 0.5em;
        display: flex;
        color: #000;
        font-size: 0.75rem;
    }
}


/* ------------------------
 * COMMENT LIST
 * --------------------- */

.comment {
    display: flex;
    overflow: hidden;
}
.comment + .comment {
    margin-top: 10px;
    border-top: 1px dotted #444;
    padding-top: 10px;
}
.comment-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-body {
    font-size: 0.8rem;
}
.comment.new {
    height: 0;
    opacity: 0;
    transform: translateX(-320px);
    animation: comment-open-space 0.2s ease forwards, comment-move-in 0.3s 0.2s ease forwards;
}
@keyframes comment-open-space {
    to {
        height: auto;
    }
}
@keyframes comment-move-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* ------------------------
 * GRID
 * --------------------- */

.grid {
    width: calc(100% + 1em);
    margin-left: -1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.grid-cell {
    flex: 0 0 16.66%;
    min-width: 150px;
    padding: 1em;
    list-style: none;
    display: block;
}
.grid-cell-image {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
.grid-cell-body {
    font-size: 0.8rem;
}

/* ------------------------
 * DOWNLOAD
 * --------------------- */

.download {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}
.download > * {
    margin: 1.5em 1em 0.5em;
}

