
html {
    font-size: 62.5%;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    background: #f6f6f6;
    overflow-y: hidden;
    user-select: none;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body::-webkit-scrollbar {
    width: 0;
    height: auto;
}

.hide {
    display: none !important;
}

button {
    outline: none;
    cursor: pointer;
}
.button {
    border: 1px solid #fff;
    padding: 0.5em 1em;
    color: #fff;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main-visual {
    flex: 1;
    background: #222;
    display: flex;
    justify-content: center;
    background: linear-gradient(70deg, #bfb770, #ec8856);
}


/* ------------------------
 * LIVE
 * --------------------- */

.live {
    flex: 1;
    padding: 25px;
    display: flex;
}
.live-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.live-right {
    width: 401px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.live-header {
    height: 41px;
    display: flex;
    align-items: flex-end;
}
.live-header-logo {
    width: 144px;
    margin-right: auto;
}
.live-header-title {
    margin-left: 30px;
    flex: 1;
    font-size: 1.4rem;
    font-weight: bold;
    text-overflow: ellipsis;
    line-height: 1;
    color: #fff;
}
.live-header-finish {
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
}
.live-header-finish:hover {
    opacity: 0.9;
}
.live-header-finish:hover:active {
    opacity: 0.7;
}
.live-header-time {
    margin-left: 26px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: right;
    line-height: 0.8;
    color: #fff;
}
.live-header-time > span {
    margin-left: 13px;
    font-size: 36px;
}

.live-slide {
    flex: 1;
    margin: 18px 0 25px;
    background: #000;
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
}

.live-footer {
    height: 138px;
    display: flex;
}
.live-footer-video {
    width: 184px;
    border-radius: 4px;
    background: #000;
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
}
.live-footer-tool {
    flex: 1;
    margin-left: 30px;
}
.live-footer-tool-info,
.live-footer-tool-form {
    height: 49px;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
    position: relative;
    display: flex;
}
.live-footer-tool-info::after,
.live-footer-tool-form-radio:checked + .live-footer-tool-form-submit::after {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    left: -4px;
    width: 34px;
    height: 31px;
    background: url(img/icon_info.png);
    pointer-events: none;
}
.live-footer-tool-info > p,
.live-footer-tool-form-input {
    flex: 1;
    max-width: 100%;
    height: 49px;
    padding: 5px 5px 5px 40px;
    font-size: 1rem;
    line-height: 39px;
    color: #897765;
    overflow: auto;
}
.live-footer-tool-info > p::-webkit-scrollbar {
    width: 3px;
    height: auto;
}
.live-footer-tool-info > p::-webkit-scrollbar-track {
    background: #455765;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.live-footer-tool-info > p::-webkit-scrollbar-thumb {
    background:#6699cc;
}
.live-footer-tool-form-radio,
.live-footer-tool-form-submit {
    display: none;
}
.live-footer-tool-form-radio:checked + .live-footer-tool-form-submit {
    width: 94px;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
    color: #fff;
    background: #776b5e;
    display: block;
    cursor: pointer;
}
.live-footer-tool-form-submit:hover {
    opacity: 0.9;
}
.live-footer-tool-form-submit:active:hover {
    opacity: 0.75;
}
#live-comment-send-normal::after {
    background: url(img/icon_comment.png);
}
#live-comment-send-question {
    background: #e45c39;
}
#live-comment-send-question::after {
    background: url(img/icon_question.png);
}
.live-footer-tool-action {
    height: 72px;
    margin-top: 17px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
    display: flex;
    list-style-type: none;
    overflow: hidden;
}
.live-footer-tool-action > li {
    flex: 1;
}
.live-footer-tool-action > li + li {
    border-left: 2px solid #eee;
}
.live-footer-tool-action > li > button {
    width: 100%;
    height: 72px;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}
.live-footer-tool-action > li > button:hover {
    background: #f6f6f6;
}
.live-footer-tool-action > li > button:active:hover {
    background: #eee;
}

.live-discus {
    flex: 1;
    display: flex;
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
}
.live-discus-radio {
    display: none;
}
.live-discus-wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.live-discus-tab {
    width: 196px;
    height: 59px;
    margin-left: 9px;
    border: 1px solid #fff;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    text-align: center;
    font-weight: bold;
    line-height: 59px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
}
.live-discus-tab:hover {
    border-width: 2px;
}
.live-discus-tab:first-of-type {
    margin-left: 0;
}
.live-discus-tab > span {
    margin: 0 0.5rem;
    padding: 0.4rem 0.5rem;
    border: 1px #fff solid;
    border-radius: 50%;
}
.live-discus-group {
	width: 100%;
    height: calc(100vh - 269px);
    padding: 20px 25px;
    background: #fff;
    flex-basis: auto;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    order: 1;
    scrollbar-base-color: #66cca4;
}
.live-discus-group::-webkit-scrollbar {
    width: 3px;
    height: auto;
}
.live-discus-group::-webkit-scrollbar-track {
    background: #455765;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.live-discus-group::-webkit-scrollbar-thumb {
    background: #66cca4;
}
#live-discus-all:checked ~ .live-discus-wrapper #live-discus-all-tab,
#live-discus-question:checked ~ .live-discus-wrapper #live-discus-question-tab {
    border-width: 1px;
    color: #333;
    background: #fff;
    cursor: default;
}
#live-discus-all:checked ~ .live-discus-wrapper #live-comment-list,
#live-discus-question:checked ~ .live-discus-wrapper #live-question-list {
    display: block;
}

.live-atmos {
    height: 160px;
    border-radius: 0 0 4px 4px;
    background: #ebc85e;
    position: relative;
    box-shadow: 0 0 15px rgba(102,102,51,0.15);
    overflow: hidden;
}
.live-atmos::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 13px;
    width: 244px;
    height: 70px;
    background: url("img/stamp_front.png") no-repeat;
}
.live-atmos-count {
    position: absolute;
    bottom:10px;
    left: 25px;
    color: #fff;
}
.live-atmos-count > span {
    margin: 0.3rem;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 2.2rem;
}
.live-atmos-stamp {
    position: absolute;
    bottom: 20px;
    left: 40%;
    opacity: 0;
    animation: stamp-animation 4s ease-in forwards;
}
@keyframes stamp-animation {
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
        bottom: 200px;
    }
}


/* ------------------------
 * CREATE FORM
 * --------------------- */

.create {
    max-width: 520px;
    margin: 24px;
    flex: 1;
    align-self: center;
}
.create-h1 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
}
.create-item {
    margin: 0.4em 0;
    display: flex;
    color: #000;
    font-size: 0.8rem;
}
.create-item-label {
    min-width: 8em;
    border: 1px solid rgba(64,64,64,0.5);
    border-radius: 2px 0 0 2px;
    padding: 0.5em 0.75em;
    background: #ccc;
}
.create-item-input {
    flex: 1;
    border: 1px solid rgba(64,64,64,0.5);
    border-left: 0;
    border-radius: 0 2px 2px 0;
    padding: 0.5em 0.75em;
    background: rgba(255,255,255,0.9);
}
.create-error {
    margin: 1em 0;
    font-size: 0.8em;
    text-align: center;
    color: #ff4400;
}
.create-submit {
    margin: 1em 0;
    text-align: right;
}


/* ------------------------
 * COMMENT LIST
 * --------------------- */

.discuss-comment {
    display: flex;
    overflow: hidden;
}
.discuss-comment + .discuss-comment {
    margin-top: 12px;
    border-top: 1px dotted #eee;
    padding-top: 12px;
}
.discuss-comment-image {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
    background: #333;
}
.discuss-comment-body {
    font-size: 1rem;
    user-select: auto;
    cursor: text;
}
.discuss-comment.new {
    height: 0;
    opacity: 0;
    transform: translateX(-320px);
    animation: comment-open-space 0.2s ease forwards, comment-move-in 0.3s 0.2s ease forwards;
}
@keyframes comment-open-space {
    to {
        height: auto;
    }
}
@keyframes comment-move-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/*******************
  DIALOG - load
*******************/

.dialog {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.85);
	box-sizing: border-box;
}
.dialog-center {
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
	justify-content: center;
}

.loader,
.loader:before,
.loader:after {
  background: #fcc800;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #fcc800;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #fcc800;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #fcc800;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #fcc800;
    height: 5em;
  }
}
